.section_6 {
    background: url(../../images/section_6/bg.jpg) top center no-repeat;
    overflow: hidden;
    background-size: cover;
    padding: 200px 0 60px;
    margin-top: -50px;
    position: relative;
    z-index: 0;
}

.section_6 h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #000;
    margin-top: 30px;
    font-weight: 500;
}

.section_6 p {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}