.section_2 {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 130px;
    overflow: hidden;
}

.section_2 h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #28323c;
    font-weight: 500;
}

.section_2 .elements {
    margin-top: 40px;
    text-align: center;
}

.section_2 .elements .element .title {
    font-weight: 100;
    margin-top: 20px;
    padding: 0 30px;
    font-size: 15px;
}

.section_2 .elements .element ul {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    text-align: left;
    padding: 0;
}

.section_2 .elements .element ul li {
    margin-bottom: 20px;
    padding-left: 30px;
    color: #212121;
    background: url(../../images/section_2/elements/question.png) 0 5px no-repeat;
}