.section_7 {
    padding-bottom: 50px;
    overflow: hidden;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    line-height: normal;
    background: url(../../images/section_7/bg.jpg) right top no-repeat;
    background-size: cover;
}

.section_7 img {
    max-width: 100%;
}

.section_7 .title {
    margin-top: 20px;
    font-size: 40px;
    color: #80bb52;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.section_7 .block_a {
    border: 3px solid #80bb52;
    position: relative;
    background-color: rgba(255, 255, 255, 0.59);
    padding: 24px 36px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 2;

}