body {
	padding-top: 0px;
	margin: 0;
	background: #ecf0f1;
}
.friends_vk {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: -100px;
}
.friends_vk li {
	display: inline-table;
	margin: 10px;
	width: 200px;
	padding: 10px;
	background: rgba(255,255,255,0.4);
	cursor: pointer;
	border-bottom: 5px solid rgba(0,0,0,0.1);
}
.friends_vk li:hover {
	background: rgba(255,255,255,0.7);
	border-bottom: 5px solid rgba(0,0,0,0.4);
}
.friends_vk span {
	font-size: 12px;
	color: #353535;
	text-transform: uppercase;
	display: block;
}
.form-group, .breadcrumb, .btn-group {
	margin-left: 10%;
	margin-right: 10%;
}
.icon {
	border: 5px solid #ecf0f1;
	border-bottom: 5px solid #2c3e50;
	height: 100px;
	width: 100px;
	line-height: 100px;
	max-width: 100%;
	background: #ecf0f1;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-weight: bold;
	display: block;
	color: #2c3e50;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin: 0 auto 20px;
}
h2 {
	font-size: 15px;
	color: #353535;
	text-transform: uppercase;
	font-weight: bold;
}
h2::after {
	content: " ";
	border: solid 2px #2c3e50;
	display: block;
	width: 35px;
	margin: 25px auto;
}
.icon2 {
	border: 5px solid #ecf0f1;
	border-left: 5px solid #2c3e50;
	border-right: 5px solid #2c3e50;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-table;
	margin-bottom: 10px;
}
.up-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	background: rgba(52, 73, 94, 0.5);
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 18px;
	line-height: 46px;
	text-align: center;
	position: absolute;
	top: -26px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.up-btn:hover {
	background: rgba(52, 73, 94, 1.0);
	color: #fff;
}
header, section, footer {
	position: relative;
}
header {
	margin-top: 30px;
}
section {
	min-height:100vh;
}
footer a {
	color: #e75977;
}
footer {
	margin-top: 10px;
	background-color: #fff;
	padding: 20px 0 5px;
	bottom: 0;
}
ul.legals {
	list-style: none;
	color: #fff;
	line-height: 25px;
}
.credit {
	text-align: right;
}
footer span {
	font-size: 11px;
	color: #353535;
	text-transform: uppercase;
	font-weight: bold;
}
ul.legals li {
	display: inline-table;
}
ul.legals li a {
	text-transform: uppercase;
	margin-left: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	font-size: 10px;
	color: #353535;
	text-transform: uppercase;
	font-weight: bold;
}
ul.legals li a:hover {
	border-bottom: 2px solid rgba(0,0,0,0.4);
}
.for_he {
	margin: 20px;
	margin-top: 50px;
	margin-left: 10%; 
	margin-right: 10%;
}
.for_he4 {
	margin: 20px;
	margin-top: 0px;
	margin-left: 10%; 
	margin-right: 10%;
}
.for_he1 {
	margin: 0px;
	margin-left: 10%; 
	margin-right: 10%;
}
.for_he2 {
	margin-left: 10%; 
	margin-right: 10%;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
}
.input-group-addon_btn {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #ecf0f1;
	text-align: center;
	background-color: #2ecc71;
	border: 1px solid #27ae60;
	cursor: pointer;
}
.input-group-addon_btn:hover {
	background-color: #1abc9c;
	border: 1px solid #16a085;
}

.btn-default_btn {
	color: #ecf0f1;
	background-color: #3498db;
	border: 1px solid #2980b9;
	cursor: pointer;
}

.input-group-addon_nobtn {
	color: #ecf0f1;
	text-align: center;
	background-color: #e74c3c;
	border: 1px solid #c0392b;
	cursor: pointer;
}
.form_remov {
	visibility: hidden;
}
.visibl {
	visibility: hidden;
}
.user {
	background: url(../images/arrow_block.png);
	display: table-cell;
	position: absolute;
	z-index: 3;
	height: 60px;
	float: left;
	width: 50px;
	margin-top: -60px;
	margin-bottom: 0;
	visibility: hidden;
	color: #ecf0f1;
	text-align: left;
}
.input-group {
	margin-top: 10px;
}
.photo_info {
	margin-top: 11px;
	margin-left: 9px;
	border-radius: 50%;
	border: 1px solid #113750;
}