.pop_up {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
    background: rgba(8, 8, 8, 0.5);
    padding-bottom: 50px;
    display: none;
}

.pop_up .bg {
    /*background: #fff;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.pop_up .main {
    padding: 30px;
    background: #199db9;
    position: relative;
    margin-top: 140px;
    width: 540px;
    min-height: 200px;
    max-width: 80%;
    border-radius: 5px;
}

.pop_up .main .close {
    width: 21px;
    height: 21px;
    /*background: url(../../images/pop_up/close.png);*/
    font-size: 24px;
    color: #199db9;
    position: absolute;
    right: -30px;
    top: 0;
    opacity: 1;
}

.pop_up .main h3 {
    font-size: 21px;
    color: #fff;
    font-weight: 400;
    /*padding-top: 10px;*/
}

.pop_up .main p {
    font-size: 17px;
    color: #fff;
    font-weight: 300;
}

.pop_up .main form input {
    margin: 20px 0;
    font-weight: 300;
    background: none;
    line-height: 34px;
    color: #fff;
    width: 300px;
    max-width: 100%;
    font-size: 14px;
    border: 3px solid #fff;
    border-radius: 0;
    overflow: visible;
}

.pop_up .button_big {
    margin: 5px 0;
    font-weight: 300;
    background: none;
    color: #fff;
    font-size: 14px;
    border: 5px solid #fff;
    border-radius: 0;
    overflow: visible;
    padding: 10px 30px;
    display: inline-block;
    cursor: pointer;
}

.pop_up .button_big:hover {
    background: #ffffff;
    color: #000;
}

.pop_up .main form input::-webkit-input-placeholder {
     color: #ffffff;
 }

.pop_up .main form input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.pop_up .main form input::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}

.pop_up .main form input:-ms-input-placeholder {
    color: #ffffff;
}
