@import url(ul.css);
@import url(info.css);
@import url(profiles.css);
@import url(vk_message.css);

header {
    background: #fff url(../../images/header/bg.jpg) top center no-repeat;
    min-width: 1000px;
    position: relative;
    width: 100%;
}

header .container {
    height: 806px;
}