header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 20px;
}

header ul li {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: 'PT Sans', tahoma, arial, verdana, sans-serif, Lucida Sans;
    list-style: none;
    width: 280px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 70px;
    text-align: left;
    float: right;
}

header ul li span {
    display: inline-block;
}

header ul li .icon {
    position: absolute;
    font-family: PWNewArrows;
    font-size: 60px;
    color: #fff155;
    left: 10px;
}

header ul li .text {
    height: 60px;
    padding-left: 70px;
    padding-top: 17px;
}