header .vk_message {
    background-color: rgb(255, 255, 255);
    width: 330px;
    height: 95px;
    position: absolute;
    bottom: 157px;
    left: 76px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

header .vk_message .title {
    width: 450px;
    font-size: 24px;
    font-family: 'PT Sans Narrow', tahoma, arial, verdana, sans-serif, Lucida Sans;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -80px;
    text-transform: uppercase;
    left: -65px;
}

header .vk_message a.name {
    color: #2B587A;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
    outline: none;
}

header .vk_message .im_subj {
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

header .vk_message .im_msg_text {
    margin-top: 5px;
    color: #000;
}

header .vk_message a.name:hover {
    text-decoration: underline;
}

header .vk_message .im_typing {
    color: #777;
    background: url(https://vk.com/images/icons/typing.gif?1) 0 2px no-repeat;
    width: 240px;
    height: 20px;
    position: absolute;
    padding: 1px 0 0 20px;
    cursor: default;
    bottom: -20px;
    background-color: #fff;
}

header .vk_message .im_editable {
    color: black;
    width: 300px;
    min-height: 40px;
    word-wrap: break-word;
    cursor: text;
    position: absolute;
    bottom: -72px;
    padding-left: 3px;
}

header .vk_message .answer {
    left: -145px;
    bottom: -70px;
    position: absolute;
    transform: rotate(-50deg);
}

header .vk_message .answer .text {
    left: 14px;
    top: 33px;
    width: 60px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    color: #fff;
    text-align: center;
}

header .vk_message .answer .bg {
    font-family: PWNewArrows;
    font-size: 100px;
    color: #fff;
}