.block_1 {
    width: 820px;
    max-width: 100%;
    min-height: 100px;
    position: relative;
    padding: 0;
    background-color: #ffffff;
}

.block_1 .h3 {
    line-height: 36px;
    background-color: #256817;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.block_1 p {
    font-weight: 100;
    font-size: 17px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.block_1 p span {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #1a5d08;
}

.block_1 .info_ {
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #666666;
}

.block_1 .info_ span {
    color: #399226;
}

.block_1 form {
    padding-bottom: 20px;
}

.block_1 form input {
    margin: 20px 0;
    font-weight: 300;
    line-height: 34px;
    color: #333333;
    font-size: 14px;
    border: 3px solid #00930b;
    border-radius: 0;
}

.block_1 form input::-webkit-input-placeholder {
    color: #333333;
}

.block_1 form input:-moz-placeholder { /* Firefox 18- */
    color: #333333;
}

.block_1 form input::-moz-placeholder {  /* Firefox 19+ */
    color: #333333;
}

.block_1 form input:-ms-input-placeholder {
    color: #333333;
}

.block_1 .button {
    position: relative;
}

.block_1 .old_post {
    position: absolute;
    font-weight: 300;
    font-size: 13px;
    color: #333333;
    z-index: 2;
    padding: 30px;
    border: 3px solid #00930b;
    border-radius: 50%;
    background-color: #fff;
    right: -120px;
    top: -100px;
}


.block_1 .old_post .arrow {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -50px;
    bottom: -53px;
    width: 59px;
    height: 57px;
    background: url(../../images/arrow_old_post.png);
}

.block_1 .bottom_blue {
    background: #003b50 url(../../images/plus.png) 20px 20px no-repeat;
    right: 20px;
    text-align: center;
    padding: 10px 20px 10px 70px;
    color: #fff;
    position: absolute;
    font-weight: 300;
    font-size: 18px;
}

@media (max-width: 992px) {
    .block_1 .old_post {
        position: relative;
        right: 0;
        top: 0;
        display: inline-block;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 0;
    }
    .block_1 .old_post .arrow {
        display: none;
    }
    .block_1 .bottom_blue {
        right: 0;
        font-size: 14px;
    }
}