.section_5 {
    background: #89C263;
    padding: 220px 0 50px 0;
    margin-top: -200px;
    position: relative;
    z-index: 1;
}

.section_5 h2 {
    display: inline-block;
    padding: 0 30px;
    margin: 0 10px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    background-color: #89C263;
}

.section_5 p {
    position: relative;
    z-index: 1;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    border: 5px solid #fff;
    padding: 30px 10px;
    margin-top: -15px;
}

.section_5 h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-top: 70px;
    font-weight: 500;
}

.section_5 span {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 27px;
    color: #fff;
    font-weight: 100;
}

.section_5 .elements {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.section_5 .elements .text {
    margin-top: 20px;
}

.section_5 .block_1 {
    margin-top: 60px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
}

.section_5 .block_1 > p {
    color: #333;
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.section_5 .block_1 > p b {
    color: #399226;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.section_5 .block_1 .info_ > span {
    font-size: 15px;
}

.section_5 .block_1 .arrow_left_top {
    position: absolute;
    left: -70px;
    top: -70px;
    background: url(../../images/section_5/elements/arrow.png);
    width: 63px;
    height: 101px;
}