.section_1 {
    background: url(../../images/section_1/bg.jpg) center bottom no-repeat;
    background-size: cover;
    min-height: 780px;
    padding-bottom: 150px;
    overflow: hidden;
}

.section_1 .logo_block {
    width: 375px;
    max-width: 100%;
    background-color: #fff;
    /*min-height: 365px;*/
    padding-bottom: 20px;
    position: relative;
}

.section_1 .logo_block .logo {
    display: inline-block;
    vertical-align: top;
    height: 64px;
    margin-left: 55px;
}

.section_1 .logo_block .text {
    display: inline-block;
    vertical-align: top;
    height: 64px;
    text-align: left;
    margin-left: 27px;
    width: 190px;
}

.section_1 .logo_block .text h1 {
    font-weight: 700;
    color: #1a5d08;
    font-size: 19px;
    margin: 0;
    padding: 0;
}

.section_1 .logo_block .text .p {
    font-weight: 300;
    color: #000;
    line-height: 18px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.section_1 .logo_block .text .p span {
    font-weight: 500;
}

.section_1 .ptop40 {
    padding-top: 40px;
}

.section_1 .bonus {
    margin-top: 10px;
}

.section_1 .bonus .p {
    font-weight: 300;
    color: #000;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.section_1 .bonus .p span {
    font-weight: 700;
    color: #399226;
}

.section_1 .bonus .title {
    color: #399226;
    font-weight: 900;
    font-size: 15px;
    margin-top: 10px;
}

.section_1 .green h2 {
    font-weight: 500;
    color: #fff;
    font-size: 30px;
    line-height: 58px;
    background-color: #399226;
    float: left;
    margin: 0;
    text-align: left;
    padding: 0 40px 0 16px;
}

@media (max-width: 992px) {
    .section_1 .green h2 {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .section_1 .logo_block {
        width: 100%;
    }
    .section_1 .bonus {
        margin-top: 10px;
    }
    .section_1 .bonus .title {
        margin-top: 10px;
    }
    .section_1 .logo_block .text h1 {
        font-size: 24px;
    }
    .bottom_blue del {
        font-size: 24px !important;
    }
    .bottom_blue del {
        font-size: 24px !important;
    }
    .section_6 p {
        font-size: 24px !important;
    }
}

form input {
    height: 40px !important;
    line-height: normal !important;
    padding-top: 5px !important;
}