@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,900,100);
@import url(sub_css/_header.css);
@import url(sub_css/_section_1.css);
@import url(sub_css/_pop_up.css);

html, body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif, Arial;
}

body {
    position: relative;
    background-color: #fff;
}

.container {
    position: relative;
}

.row {
    margin: 0;
}

.button {
    background: url(../images/button.png);
    width: 306px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
    color: transparent;
    font-size: 14px;
}

.button:hover {
    background: url(../images/button_hover.png);
}