<!DOCTYPE html>
<html ng-app="application">
<head lang="ru">
    <meta charset="UTF-8">
    <title>Накрутка вконтакте</title>

    <!-- Seo -->
    <meta name="description"
          content="Накрутка участников групп вконтакте">
    <meta name="keywords"
          content="накрутка вконтакте, накрука участников">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.png"/>

    <!-- CSS БИБЛИОТЕКИ -->
    <link href="library/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="library/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="library/ngToast-master/dist/ngToast.min.css" rel="stylesheet">
    <link href="library/angular-chart.js-master/dist/angular-chart.css" rel="stylesheet">
    <link href="library/angular-loading-bar-master/build/loading-bar.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- OPEN API VK -->
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

</head>
<body ng-controller="OnlineMemberCtrl">
<toast></toast>
<header>
    <div class="container">
        <div class="row">
            <h1><b>Заказать</b> накрутку вконтакте</h1>

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row block" ng-hide="form_post && !error_post">
                    <div class="icon_vk">
                        <i class="fa fa-vk"></i>
                    </div>
                    <div class="icon_line-chart">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control"
                               ng-model="groupUrl"
                               ng-disabled="groupFormActive"
                               ng-class="(form_post && !groupUrl) ? 'red_border' : ''"
                               placeholder="Введите ссылку на группу...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-disabled="groupFormActive"
                                    ng-click="startVK()">Проверка
                            </button>
                        </span>
                    </div>
                    <div class="alert alert-success alert-dismissible" ng-show="groupFormActive">
                        <button type="button" class="close" ng-click="reset()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="media">
                            <div class="media-left">
                                <div class="img">
                                    <a href="https://vk.com/{{ group.screen_name }}" target="_blank">
                                        <img class="media-object" ng-src="{{ group.photo_50 }}">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <strong>{{ group.name }}</strong><br/>
                                Участников: {{ group.members_count }}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12" align="center">
                            <div class="input-group" style="float:left;margin-right: 10px;">
                                <select name="country" class="form-control">
                                    <option value="0">Любая страна</option>
                                    <option value="1">Россия</option>
                                    <option value="2">Украина</option>
                                    <option value="3">Беларусь</option>
                                </select>
                            </div>
                            <div class="input-group" style="float:left;margin-right: 10px;">
                                <select name="sex" class="form-control">
                                    <option value="0">Любой пол</option>
                                    <option value="1">Мужской</option>
                                    <option value="2">Женский</option>
                                </select>
                            </div>
                            <div class="input-group hi" style="text-align: left;">
                                <input type="text" class="form-control"
                                       placeholder="Вконтакте">
                                <span>Не обязательно</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group hi" style="text-align: left;float: left;width: 100px;">
                                <input type="text" class="form-control"
                                       ng-model="count_members"
                                       ng-class="(form_post && ((count_members == 0) || !count_members)) ? 'red_border' : ''"
                                       placeholder="1000">
                            </div>
                            <div class="input-group remove">
                                <i class="fa fa-times"></i>
                                {{ price.member }}
                                =
                            </div>
                            <div class="input-group price">
                                {{ price.member * ((count_members) ? count_members : 0) }}
                                <i class="fa fa-rub"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <button type="button" ng-click="_form_post()" class="btn btn-default">
                                Заказать накрутку
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row block" ng-show="form_post && !error_post">
                    <div class="icon_vk">
                        <i class="fa fa-vk"></i>
                    </div>
                    <div class="icon_line-chart">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    Ссылка на группу: {{ groupUrl }}<br>
                    Количество участников: {{ count_members }}<br>
                    Сумма к оплате: {{ price.member * ((count_members) ? count_members : 0) }}<br>
                </div>
                <div class="right_il">
                    <h2>Правила для групп</h2>
                    <ol>
                        <li>
                            Необходимо убедиться в том, что страница которую вы заказываете будет доступна всем (если к
                            примеру группа или публичная страница, то они должны быть открытые)! Иначе заказ выполнен не
                            будет!
                        </li>
                        <li>
                            Заказ не будет принят если тематика группы будет связана с запрещенными темами Вконтакте.
                            Такие как: секс, афёры, спекуляция...
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</header>

<!-- JS БИБЛИОТЕКИ -->
<script src="library/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<script src="library/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

<!-- ANGULARJS -->
<script src="library/angularjs-1.4.2/angular.min.js"></script>
<script src="library/angularjs-1.4.2/angular-sanitize.min.js"></script>
<script src="library/angularjs-1.4.2/angular-animate.min.js"></script>
<script src="library/Chart.js-master/Chart.min.js"></script>
<script src="library/angular-chart.js-master/dist/angular-chart.min.js"></script>
<script src="library/ngToast-master/dist/ngToast.min.js"></script>
<script src="library/angular-loading-bar-master/build/loading-bar.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/controller/onlineMember.js"></script>
</body>
</html>