/* Stars */
@-webkit-keyframes stars {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@-moz-keyframes stars {
    0%, 100% {
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -moz-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@-o-keyframes stars {
    0%, 100% {
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -o-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -o-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes stars {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.stars {
    background: transparent url(http://treedinero.ru/images/stars.png) repeat top center;
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}

/*---------------- Animation ----------------*/


/* Float 1 */
@-webkit-keyframes floating {
    from {
        -webkit-transform: translate(0, 0px);
    }
    55% {
        -webkit-transform: translate(-5px, 10px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes floating {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(-5px, 10px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}

@-o-keyframes floating {
    from {
        -o-transform: translate(0, 0px);
    }
    65% {
        -o-transform: translate(-5px, 10px);
    }
    to {
        -o-transform: translate(0, -0px);
    }
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(-5px, 10px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* Float 2 */
@-webkit-keyframes floating2 {
    from {
        -webkit-transform: translate(0, 0px);
    }
    55% {
        -webkit-transform: translate(5px, 10px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes floating2 {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(5px, 10px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}

@-o-keyframes floating2 {
    from {
        -o-transform: translate(0, 0px);
    }
    65% {
        -o-transform: translate(5px, 10px);
    }
    to {
        -o-transform: translate(0, -0px);
    }
}

@keyframes floating2 {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(5px, 10px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* Float 3 */
@-webkit-keyframes floating3 {
    from {
        -webkit-transform: translate(0, 0px);
    }
    55% {
        -webkit-transform: translate(0px, 10px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes floating3 {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(0px, 10px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}

@-o-keyframes floating3 {
    from {
        -o-transform: translate(0, 0px);
    }
    65% {
        -o-transform: translate(0px, 10px);
    }
    to {
        -o-transform: translate(0, -0px);
    }
}

@keyframes floating3 {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0px, 10px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* Float 4 */
@-webkit-keyframes floating4 {
    from {
        -webkit-transform: translate(0, 0px);
    }
    55% {
        -webkit-transform: translate(-10px, -10px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes floating4 {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(-10px, -10px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}

@-o-keyframes floating4 {
    from {
        -o-transform: translate(0, 0px);
    }
    65% {
        -o-transform: translate(-10px, -10px);
    }
    to {
        -o-transform: translate(0, -0px);
    }
}

@keyframes floating4 {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(-10px, -10px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* Scale 1 */
@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(1);
    }
    55% {
        -webkit-transform: scale(1.3);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes scale {
    from {
        -moz-transform: scale(1);
    }
    65% {
        -moz-transform: scale(1.3);
    }
    to {
        -moz-transform: scale(1);
    }
}

@-o-keyframes scale {
    from {
        -o-transform: scale(1);
    }
    65% {
        -o-transform: scale(1.3);
    }
    to {
        -o-transform: scale(1);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    65% {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}

/* Scale 2 */
@-webkit-keyframes scale2 {
    from {
        -webkit-transform: scale(1) rotate(-4deg);
    }
    55% {
        -webkit-transform: scale(1.3) rotate(4deg) translate(-5px, -10px);
    }
    to {
        -webkit-transform: scale(1) rotate(-4deg);
    }
}

@-moz-keyframes scale2 {
    from {
        -moz-transform: scale(1) rotate(-4deg);
    }
    65% {
        -moz-transform: scale(1.3) rotate(4deg) translate(-5px, -10px);
    }
    to {
        -moz-transform: scale(1) rotate(-4deg);
    }
}

@-o-keyframes scale2 {
    from {
        -o-transform: scale(1) rotate(-4deg);
    }
    65% {
        -o-transform: scale(1.3) rotate(4deg) translate(-5px, -10px);
    }
    to {
        -o-transform: scale(1) rotate(-4deg);
    }
}

@keyframes scale2 {
    from {
        transform: scale(1) rotate(-4deg);
    }
    65% {
        transform: scale(1.3) rotate(4deg) translate(-5px, -10px);
    }
    to {
        transform: scale(1) rotate(-4deg);
    }
}

/* Shadow Floating */
@-webkit-keyframes shadow-floating {
    from {
        -webkit-box-shadow: -5px 0 0 #27607c;
        -webkit-transform: translate(2px, 0px);
    }
    55% {
        -webkit-box-shadow: 5px 0 0 #27607c;
        -webkit-transform: translate(-2px, 0px);
    }
    to {
        -webkit-box-shadow: -5px 0 0 #27607c;
        -webkit-transform: translate(2px, 0px);
    }
}

@-moz-keyframes shadow-floating {
    from {
        -moz-box-shadow: -5px 0 0 #27607c;
        -moz-transform: translate(2px, 0px);
    }
    65% {
        -moz-box-shadow: -5px 0 0 #27607c;
        -moz-transform: translate(-2px, 0px);
    }
    to {
        -moz-box-shadow: -5px 0 0 #27607c;
        -moz-transform: translate(2px, 0px);
    }
}

@-o-keyframes shadow-floating {
    from {
        -o-box-shadow: -5px 0 0 #27607c;
        -o-transform: translate(2px, 0px);
    }
    65% {
        -o-box-shadow: -5px 0 0 #27607c;
        -o-transform: translate(-2px, 0px);
    }
    to {
        -o-box-shadow: -5px 0 0 #27607c;
        -o-transform: translate(2px, 0px);
    }
}

@keyframes shadow-floating {
    from {
        box-shadow: -5px 0 0 #27607c;
        transform: translate(2px, 0px);
    }
    65% {
        box-shadow: -5px 0 0 #27607c;
        transform: translate(-2px, 0px);
    }
    to {
        box-shadow: -5px 0 0 #27607c;
        transform: translate(2px, 0px);
    }
}

.si-floating {
    -webkit-animation: floating infinite ease-in-out 3s;
    -moz-animation: floating infinite ease-in-out 3s;
    -o-animation: floating infinite ease-in-out 3s;
    animation: floating infinite ease-in-out 3s;
}

.si-floating2 {
    -webkit-animation: floating2 infinite ease-in-out 3s;
    -moz-animation: floating2 infinite ease-in-out 3s;
    -o-animation: floating2 infinite ease-in-out 3s;
    animation: floating2 infinite ease-in-out 3s;
}

.si-floating3 {
    -webkit-animation: floating3 infinite ease-in-out 3s;
    -moz-animation: floating3 infinite ease-in-out 3s;
    -o-animation: floating3 infinite ease-in-out 3s;
    animation: floating3 infinite ease-in-out 3s;
}

.si-floating4 {
    -webkit-animation: floating4 infinite ease-in-out 3s;
    -moz-animation: floating4 infinite ease-in-out 3s;
    -o-animation: floating4 infinite ease-in-out 3s;
    animation: floating4 infinite ease-in-out 3s;
}

.si-scale {
    -webkit-animation: scale infinite ease-in-out 2s;
    -moz-animation: scale infinite ease-in-out 2s;
    -o-animation: scale infinite ease-in-out 2s;
    animation: scale infinite ease-in-out 2s;
}

.si-scale2 {
    -webkit-animation: scale2 infinite ease-in-out 2s;
    -moz-animation: scale2 infinite ease-in-out 2s;
    -o-animation: scale2 infinite ease-in-out 2s;
    animation: scale2 infinite ease-in-out 2s;
}

.shadow-floating {
    -webkit-animation: shadow-floating infinite ease-in-out 3.4s;
    -moz-animation: shadow-floating infinite ease-in-out 3.4s;
    -o-animation: shadow-floating infinite ease-in-out 3.4s;
    animation: shadow-floating infinite ease-in-out 3.4s;
}

.si-error {
    -webkit-animation: shake 1 linear 0.8s;
    -moz-animation: shake 1 linear 0.8s;
    -o-animation: shake 1 linear 0.8s;
    animation: shake 1 linear 0.8s;
}

.header-parallax {
    position: absolute;
    z-index: 5
}

.header-parallax.p-14 {
    left: 50%;
    margin-left: -400px;
    top: 255px;
}

.header-parallax.p-15 {
    left: 50%;
    margin-left: -360px;
    top: 270px;
}

.header-parallax.p-16 {
    left: 50%;
    margin-left: -280px;
    top: 363px;
}

.header-parallax.p-17 {
    left: 50%;
    margin-left: 310px;
    top: 250px;
    z-index: 2
}

.header-parallax.p-18 {
    left: 50%;
    margin-left: 250px;
    top: 330px
}