.button_style {
    width: 300px;
    height: 40px;
    position: absolute;
    margin-left: -2px;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}

.button_style .style_left,
.button_style .style_right {
    float: left;
    margin-top: -4px;
}

.button_style .style_right {
    margin-left: -60px;
}

#vkwidget1_tt,
#vkwidget2_tt,
#vkwidget3_tt,
#vkwidget4_tt {
    margin-left: -2500px;
}
