section.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

section.modal .bg {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

section.modal .content {
    position: absolute;
    width: 200px;
    min-height: 300px;
    top: 140px;
    z-index: 4;
    left: 50%;
    margin-left: -100px;
    transition: 0.2s;
}

section.modal .content.next {
    margin-left: -340px;
    opacity: 0.3;
    transition: 0.2s;
}


section.modal .arrow {
    font-family: PWNewArrows;
    font-size: 80px;
    color: #fff;
    position: absolute;
    opacity: 0.3;
}

section.modal .left_top_arrow {
    transform: rotate(-40deg);
    top: -100px;
    left: -90px;
}

section.modal .right_top_arrow {
    transform: rotate(40deg);
    top: -110px;
    right: -80px;
}

section.modal .left_bottom_arrow {
    transform: rotate(-130deg);
    bottom: -100px;
    left: -90px;
}

section.modal .right_bottom_arrow {
    transform: rotate(130deg);
    bottom: -90px;
    right: -100px;
}

section.modal .icon_vk {
    position: absolute;
    background-color: #fff;
    width: 50px;
    line-height: 50px;
    top: 165px;
    left: 50%;
    margin-left: -253px;
    color: #000;
    font-size: 24px;
    border-right: 4px solid #000;
    text-align: center;
    z-index: 3;
}

section.modal .icon_facebook {
    position: absolute;
    background-color: #fff;
    width: 50px;
    line-height: 50px;
    top: 225px;
    left: 50%;
    margin-left: -253px;
    color: #000;
    font-size: 24px;
    border-right: 4px solid #000;
    text-align: center;
    z-index: 3;
}

section.modal .icon_odnoklassniki {
    position: absolute;
    background-color: #fff;
    width: 50px;
    line-height: 50px;
    top: 285px;
    left: 50%;
    margin-left: -253px;
    color: #000;
    font-size: 24px;
    border-right: 4px solid #000;
    text-align: center;
    z-index: 3;
}

section.modal .icon_line-chart {
    position: absolute;
    background-color: #fff;
    width: 50px;
    line-height: 50px;
    top: 345px;
    left: 50%;
    margin-left: -253px;
    color: #000;
    font-size: 24px;
    border-right: 4px solid #000;
    text-align: center;
    z-index: 3;
}

section.modal form {
    position: relative;
}

section.modal form .title {
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

section.modal form .close {
    position: absolute;
    color: #fff;
    font-size: 24px;
    right: -10px;
    top: 4px;
    cursor: pointer;
}

section.modal form .close:hover {
    color: #e3e3e3;
}

section.modal .form_input {
    width: 100%;
    border: none;
    text-shadow: none;
    outline: none;
    background: none;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    border-bottom: 3px solid #fff;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    transition: 0.2s;
}

section.modal .nextRight .form_input {
    margin-top: 0;
}

section.modal .form_input:focus {
    border-bottom: 3px solid #fff155;
    transition: 0.2s;
}

section.modal form .next {
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
    transition: 0.1s;
}

section.modal form .next:hover {
    border-color: #fff;
    transition: 0.1s;
}

section.modal form p {
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

section.modal .form_input::-webkit-input-placeholder {color: #f7f7f7;}
section.modal .form_input::-moz-placeholder          {color:#f7f7f7;}/* Firefox 19+ */
section.modal .form_input:-moz-placeholder           {color:#f7f7f7;}/* Firefox 18- */
section.modal .form_input:-ms-input-placeholder      {color:#f7f7f7;}