<!DOCTYPE html>
<html ng-app="application">
<head lang="ru">
    <meta charset="UTF-8">
    <title></title>
    <link href="library/bootstrap-3.3.5-dist/css/bootstrap.min.css" media="screen, projection" rel="stylesheet"
          type="text/css">
    <link href="library/fuelux/fuelux.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="library/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/styles.css" media="screen, projection" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://vk.com/js/api/openapi.js?116"></script>
</head>
<body ng-controller="IndexCtrl">
<section class="hbox stretch"> <!-- .aside -->
    <aside class="bg-danger aside aside-lg b-r no-borders nav-vertical animated fadeInDownBig" id="nav">
        <section class="vbox">
            <header class="nav-bar">
                <a href="#" class="nav-brand" data-toggle="fullscreen"><i class="fa fa-question"></i></a>
            </header>
            <section class="w-f">
                <div class="nav-user hidden-xs pos-rlt">
                    <div class="nav-avatar pos-rlt">
                        <a href="#" class="thumb-sm avatar animated rollIn">
                            <img src="https://hsto.org/getpro/habr/avatars/949/d5b/616/949d5b61677e39863cb808ce84103c2d.jpg"
                                 alt="" class="">
                            <span class="caret caret-white"></span>
                        </a>
                    </div>
                </div>
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li>
                            <a href="https://github.com/romkagolovadvayha" target="_blank">
                                <i class="fa fa-git"></i>
                                <span>Github</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/daaaaaaaaa" target="_blank">
                                <i class="fa fa-vk"></i>
                                <span>Вконтакте</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://habrahabr.ru/users/dooza/" target="_blank">
                                H
                                <span>Habrahabr</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/romkagolovadvayha/" target="_blank">
                                <i class="fa fa-camera-retro"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Empekror_Bin789" target="_blank">
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </section>
    </aside>
    <!-- /.aside --> <!-- .vbox -->
    <section id="content">
        <section class="hbox stretch bg-white-only"> <!-- .aside -->
            <!-- /.aside --> <!-- .aside -->
            <aside class="">
                <section class="vbox animated fadeInRightBig">
                    <header class="header bg-white pos-rlt navbar navbar-default show"><span class="arrow left"></span>

                        <div class="collapse navbar-collapse pull-in">
                            <ul class="nav navbar-nav">
                                <li class="sevice_url">
                                    <a href="">
                                        <i class="fa fa-refresh"></i> ОБНОВИТЬ СТРАНИЦУ
                                    </a>
                                </li>
                                <li class="sevice_url">
                                    <a href="" ng-click="clearStorage('questions_list', '[]')" style="opacity: 0">
                                        ОЧИСТИТЬ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <section>
                        <section class="hbox stretch">
                            <aside>
                                <section class="vbox">
                                    <section class="scrollable wrapper">
                                        <div class="btn-group m-b" data-toggle="buttons">
                                            <label class="btn btn-sm btn-white active"
                                                   ng-click="typeQuestionCallback('')">
                                                <input type="radio" name="options">
                                                Все
                                            </label>
                                            <label class="btn btn-sm btn-white" ng-click="typeQuestionCallback(1)">
                                                <input type="radio" name="options">
                                                Положительные
                                            </label>
                                            <label class="btn btn-sm btn-white" ng-click="typeQuestionCallback(0)">
                                                <input type="radio" name="options">
                                                Негативные
                                            </label>
                                        </div>
                                        <section class="comment-list block">

                                            <div ng-repeat="question in questionsList | orderBy:'-id' | filter: { type: typeQuestion }">
                                                <article id="comment-id-1" class="comment-item">
                                                    <span class="fa-stack pull-left m-l-xs">
                                                        <i class="fa fa-circle fa-stack-2x"
                                                           ng-class="question.type == 1 ? 'text-success' : 'text-danger'"></i>
                                                        <i class="fa fa-stack-1x text-white"
                                                           ng-class="question.type == 1 ? 'fa-thumbs-up' : 'fa-thumbs-down'"></i>
                                                    </span>
                                                    <section class="comment-body m-b-lg">
                                                        <header>
                                                            <a href="#">
                                                                <strong>
                                                                    {{ question.first_name }} {{ question.last_name }}
                                                                </strong>
                                                            </a>
                                                            <span class="text-muted text-xs"> {{ momentDate(question.date) }} </span>
                                                        </header>
                                                        <div>
                                                            {{ question.text }}
                                                        </div>
                                                    </section>
                                                </article>

                                            </div>

                                        </section>


                                        <a href="#" class="btn btn-white btn-sm"><i class="fa fa-plus icon-muted"></i>
                                            more</a></section>
                                </section>
                            </aside>
                        </section>
                    </section>
                </section>
            </aside>
            <!-- /.aside --> </section>
    </section>
    <!-- /.vbox -->
</section>

<script type="text/javascript" src="library/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="library/angularjs-1.4.2/angular.min.js"></script>
<script type="text/javascript" src="library/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="library/angularjs-1.4.2/angular-sanitize.min.js"></script>
<script type="text/javascript" src="library/angularjs-1.4.2/angular-animate.js"></script>
<script type="text/javascript" src="library/angularUtils-master/src/directives/pagination/dirPagination.js"></script>
<script type="text/javascript" src="library/angular-moment-master/moment-with-locales.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/controllers/index.js"></script>
</body>
</html>